body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
}
ul{
    list-style: none;
}
/* Nav bar */
#nav_bar {
    float: right;
}
#nav_bar li {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
}
#nav_bar #sign_in {
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
}
.nav-links {
    color: #404040;
}
a {
    text-decoration: none;
    color: inherit;
}
li .nav-links a:hover {
    text-decoration: underline;
}
#sign_in:hover{
    box-shadow: 1px 1px 5px #999;
}
#sign_in {
    color: #ffffff;
}
/* Google Image*/
.google {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 98px;
    padding-bottom: 20px;
}
form {
    text-align: center;
}
#form-search {
    width: 515px;
    border: 1px solid;
    border-color: #cad3d6;
    border-radius: 30px;
    line-height: 43px;
    padding: 0 10px;
    outline: none;
}
#form-search:hover {
    box-shadow: .5px .5px 4px #c0c0c0;
}
.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 1px;
}
.in1 {
    font-size: 14px;
    color: rgb(85, 85, 85);
    padding: 10px;
    margin: 4px;
    border: transparent;
    border-radius: 5px;
    outline: none;
}
.in1:hover {
    background-image: -webkit-linear-gradient(top,#e9e9e9,#e0e0e0);
    cursor: pointer;
}
.tag {
    text-align: center;
    font-size: 14px;
    margin: 25px 0 137px;
}
.tag a {
    color: #1a0dab;
}
.tag a:hover {
    text-decoration: underline;
}
/* Footer */
footer {
    background: #f7f7f7;
    border-top: solid 1px #e4e4e4;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
}
footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 13px;
}
footer ul {
    float: left;
    padding: 1px;
}
footer ul a:hover {
    text-decoration: underline;
}
.footer-right {
    float: right;
}